@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
body{
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-image: url("img/photo-1579546929518-9e396f3cc809.jpeg");
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;

}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: inherit;
    text-align: center;
}

.box h1{
    text-effect: none;
    color: crimson;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: crimson;
}
.box input[type = "text"],.box input[type = "email"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "email"]:focus{
    width: 280px;
    border-color: crimson;
}

.box div[type = "text"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.box div[type = "text"]:focus{
    width: 280px;
    border-color: crimson;
}

.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid crimson;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: crimson;
}
