@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
body{
    margin: 0;
    background-size: cover;
    background-image: url("img/1155047.jpg");
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;

}
brand{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-color;
}

.brand h2  {
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    color: crimson;
    width: 325px;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}


.brand p {
    font-size: 1rem;
    color: black;
    text-align: left;
    border: crimson 2px solid;
    border-radius: 10px;
    left: 0;
    width: 300px;
    height: 250px;

}
.brand span{
    font-size: 2rem;
}

.video
{
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: inherit;
    text-align: center;
}
.video iframe{
    transform: translate(-50%,-50%);
    border: crimson 5px solid;
    border-radius: 20px;
}
 .meta { font-size: 9px; color: dimgray; text-transform: uppercase; padding-bottom: 13px; }
 .meta .right { width: 225px; }
 .meta .rating-holder { float: left; }
 .meta .rating-holder p { float: left; font-size: 15px ;}
 .meta .rating { float: left; background: url(img/rating.png) no-repeat 0 0; width: 85px; height: 15px; margin-top: 4px; margin-left: 4px; position: relative;  }
 .meta .rating span { background: url(img/rating.png) no-repeat 0 bottom; height: 15px; display: block; position: relative; top: 0; left: 0; }